# Jira
JIRA_URL=https://seu-jira.atlassian.net
JIRA_EMAIL=seu-email@dominio.com
JIRA_TOKEN=seu-token-jira

# Bitbucket Cloud
BITBUCKET_WORKSPACE=seu-workspace
BITBUCKET_REPO=seu-repositorio
BITBUCKET_USERNAME=seu-email@dominio.com
BITBUCKET_APP_PASSWORD=seu-app-password
